<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
          <remove fileExtension=".json" />
          <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>
        <security>
          <requestFiltering>
            <denyUrlSequences>
              <remove sequence="~" />
              <add sequence="~" />
            </denyUrlSequences>
          </requestFiltering>
        </security>
        <handlers>
          <remove name="WebDAV" />
          <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
          <remove name="AssemblyResourceLoader-Integrated" />
          <remove name="AssemblyResourceLoader-Integrated-4.0" />
          <remove name="WebAdminHandler-Integrated" />
          <remove name="ScriptResourceIntegrated-4.0" />
          <remove name="WebAdminHandler-Integrated-4.0" />
          <remove name="TraceHandler-Integrated" />
          <remove name="TraceHandler-Integrated-4.0" />
          <remove name="xoml-64-ISAPI-2.0" />
          <remove name="xoml-ISAPI-2.0" />
          <remove name="xoml-Integrated" />
          <remove name="xoml-Integrated-4.0" />
          <remove name="xoml-ISAPI-4.0_64bit" />
          <remove name="xoml-ISAPI-4.0_32bit" />
          <remove name="xamlx-Integrated-4.0" />
          <remove name="xamlx-ISAPI-4.0_64bit" />
          <remove name="xamlx-ISAPI-4.0_32bit" />
          <remove name="svc-Integrated" />
          <remove name="svc-ISAPI-2.0" />
          <remove name="svc-ISAPI-2.0-64" />
          <remove name="svc-Integrated-4.0" />
          <remove name="svc-ISAPI-4.0_64bit" />
          <remove name="svc-ISAPI-4.0_32bit" />
          <remove name="SSINC-stm" />
          <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
          <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
          <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
          <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
          <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
          <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
          <remove name="rules-64-ISAPI-2.0" />
          <remove name="rules-ISAPI-2.0" />
          <remove name="rules-Integrated" />
          <remove name="rules-Integrated-4.0" />
          <remove name="rules-ISAPI-4.0_64bit" />
          <remove name="rules-ISAPI-4.0_32bit" />
          <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
          <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
          <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
          <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
          <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
          <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
          <remove name="SecurityCertificate" />
          <remove name="AXD-ISAPI-2.0-64" />
          <remove name="AXD-ISAPI-2.0" />
          <remove name="AXD-ISAPI-4.0_64bit" />
          <remove name="AXD-ISAPI-4.0_32bit" />
          <remove name="vbhtml-Integrated-4.0" />
          <remove name="vbhtml-ISAPI-4.0_64bit" />
          <remove name="vbhtml-ISAPI-4.0_32bit" />
          <remove name="vbhtm-Integrated-4.0" />
          <remove name="vbhtm-ISAPI-4.0_64bit" />
          <remove name="vbhtm-ISAPI-4.0_32bit" />
          <remove name="SSINC-shtml" />
          <remove name="SSINC-shtm" />
          <remove name="aspq-Integrated-4.0" />
          <remove name="aspq-ISAPI-4.0_64bit" />
          <remove name="aspq-ISAPI-4.0_32bit" />
          <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
          <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
          <remove name="WebServiceHandlerFactory-Integrated" />
          <remove name="WebServiceHandlerFactory-Integrated-4.0" />
          <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
          <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
          <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
          <remove name="SimpleHandlerFactory-ISAPI-2.0" />
          <remove name="SimpleHandlerFactory-Integrated" />
          <remove name="SimpleHandlerFactory-Integrated-4.0" />
          <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
          <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
          <remove name="PageHandlerFactory-ISAPI-2.0-64" />
          <remove name="PageHandlerFactory-ISAPI-2.0" />
          <remove name="PageHandlerFactory-Integrated" />
          <remove name="PageHandlerFactory-Integrated-4.0" />
          <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
          <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
          <remove name="ASPClassic" />
          <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
          <remove name="OPTIONSVerbHandler" />
          <remove name="TRACEVerbHandler" />
        </handlers>
        <httpProtocol>
          <customHeaders>
            <remove name="X-Powered-By" />
          </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
